# Compiled Java classes
*.class

# Java JAR/WAR files
*.jar
*.war
*.ear

# VS Code settings
.vscode/

# Logs and temp files
*.log
*.tmp
hs_err_pid*

# Maven build directory
target/
!target/.gitkeep

# Gradle build directories
.gradle/
build/

# IDE files
*.iml
*.ipr
*.iws
.idea/

# Dependency directories
.mvn/
out/

# Docker-related files
docker-compose.override.yml
docker-compose.override.yaml
.env
*.envrc

# Terraform state files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Ignore local environment configuration
local.properties
config/calculator.properties
